@page "/"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="d-flex align-items-center flex-column justify-content-center w-100 h-100 cont">
    <h1 class="text-center text-uppercase">Votul tau conteaza!</h1>
    <div id="formContent" class="rounded w-90 position-relative text-center">
        
        <input type="number" id="login" class="fadeIn text text-center d-inline w-85" name="login" @bind="cnp" autocomplete="off" placeholder="Introduceti CNP">
        <input @onclick="SendCnp" class="fadeIn login" value="Log In">
        
    </div>
</div>



@code {
    private string cnp;

    private string apiUrl = "https://localhost:44380/api/login";

    protected async Task SendCnp()
    {

        var request = new Dictionary<string, string>();
        request["cnp"] = cnp;

        Citizen response = await Http.PostJsonAsync<Citizen>(apiUrl, request);

        if (response.CNP == "6000611068050")

            NavigationManager.NavigateTo("/home", true);
    }

    public class Citizen
    {
        public Guid ID { get; set; }

        public string CNP { get; set; }

        public string LastName { get; set; }

        public string FirstName { get; set; }

        public string Sex { get; set; }

        public string Address { get; set; }

        public string County { get; set; }

        public string City { get; set; }
        public Guid VotedFor { get; set; }
    }
}
