@page "/home"

<NavMenuBar />
<div class="w-100 h-100 pt-5">
    <div class="row align-items-center boxScreen pt-5">
        <div class="col align-items-center cardHome">
            <a href="#" class="cardSpanText">Alegeri Prezidentiale </a>
        </div>
        <div class="col align-items-center cardHome">
            <span class="cardSpanText">Alegeri Parlamentare </span>
        </div>
        <div class="col align-items-center cardHome">
            <span class="cardSpanText">Alegeri Locale </span>
        </div>
    </div>
</div>

<BottomBar />




