@page "/home"

  
    <div class="w-100 h-100">
        <NavMenuBar />
        <div class="row align-items-center boxScreen">
            <div class="col align-items-center cardHome">
                <span class="cardSpanText">Alegeri Prezidentiale </span>
            </div>
            <div class="col align-items-center cardHome">
                <span class="cardSpanText">Alegeri Parlamentare </span>
            </div>
            <div class="col align-items-center cardHome">
                <span class="cardSpanText">Alegeri Locale </span>
            </div>
        </div>
        <BottomBar />
    </div>
   



