@page "/"

<div class="d-flex align-items-center flex-column justify-content-center w-100 h-100 cont">
    <h1 class="text-center text-uppercase">Votul tau conteaza!</h1>
    <div id="formContent" class="rounded w-90 position-relative text-center">
        <form>
            <input type="number" id="login" class="fadeIn text text-center d-inline w-85" name="login" autocomplete="off" placeholder="Introduceti CNP">
            <NavLink href="home"><input type="submit" class="fadeIn" value="Log In" onclick="Login"></NavLink>
        </form>
    </div>
</div>



@code {
}
