@inject NavigationManager NavigationManager

<nav class="navbar navbar-light cardNavBar">
    <a href="#"  @onclick="NavigateToHome">Home</a>
    <a href="#" @onclick="NavigateToLogin">Log Out</a>
</nav>

@code
{
    public void NavigateToHome()
    {
        NavigationManager.NavigateTo("/home", true);
    }

    public void NavigateToLogin()
    {
        NavigationManager.NavigateTo("/", true);
    }
}